@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap')

// cores
$cor-primaria: #000000
$cor-secundaria: #F6F6F6
$cor-terciaria: #FFDD48
$cor-hover: #FFDD48
$cor-text: #f4f4f4

// fontes
$fonte-primaria: 'Krona One', sans-serif
$fonte-secundaria: 'Montserrat', sans-serif


