@import 'variables'
@import 'mixins'

// Rodapé
.rodape
  color: $cor-primaria
  background-color: $cor-terciaria
  padding: 24px
  text-align: center
  font-family: $fonte-secundaria
  font-size: 1.5rem
  font-weight: 400
  @include fadeIn(2s)

@media (max-width: 768px)
  .rodape
    font-size: 1.2rem
    padding: 16px

@media (max-width: 480px)
  .rodape
    font-size: 1rem
    padding: 12px
