@import 'variables'
@import 'mixins'

// Apresentação e conteúdo
.apresentacao
  padding: 5% 15%
  display: flex
  flex-direction: row // Direção padrão para telas grandes
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap

.apresentacao__conteudo
  width: 50%
  display: flex
  flex-direction: column
  gap: 40px
  order: 1 // Ordem padrão

.apresentacao__conteudo__titulo
  font-size: 2.25rem
  font-family: $fonte-primaria
  @include fadeIn

.titulo-destaque
  color: $cor-terciaria

.apresentacao__conteudo__texto
  font-size: 1.5rem
  font-family: $fonte-secundaria
  @include slideIn

.apresentacao__conteudo__texto li
  font-size: 1.5rem
  font-family: $fonte-secundaria

.apresentacao__conteudo__texto a
  text-decoration: none
  color: $cor-terciaria

.apresentacao_conteudo_texto_destaque
  color: $cor-terciaria

.apresentacao__imagem
  width: 50%
  max-height: 500px
  object-fit: cover
  margin-top: -20px
  order: 2 // Ordem padrão
  @include fadeIn

.apresentacao__links
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  gap: 32px
  order: 3 // Ordem padrão
  @include slideIn

.apresentacao__links__subtitulo
  font-family: $fonte-primaria
  font-weight: 400
  font-size: 1.5rem

.apresentacao__links__navegacao
  display: flex
  justify-content: center
  align-items: center
  gap: 16px
  border: 4px solid $cor-terciaria
  width: 50%
  text-align: center
  border-radius: 20px
  font-size: 1.5rem
  font-weight: 600
  padding: 11.5px 0
  text-decoration: none
  color: $cor-secundaria
  font-family: $fonte-secundaria
  transition: background-color 0.3s, transform 0.3s

.apresentacao__links__navegacao img
  width: 15%
  margin-right: 3px
  vertical-align: middle

.apresentacao__links__navegacao:hover
  background-color: $cor-hover
  transform: scale(1.05)

// Responsividade
@media (max-width: 1200px)
  .apresentacao
    padding: 5% 10%

  .apresentacao__conteudo
    width: 40%

  .apresentacao__imagem
    width: 60%

  .apresentacao__links__navegacao
    width: 60%

@media (max-width: 992px)
  .apresentacao__conteudo
    width: 70%

  .apresentacao__imagem
    width: 65%

  .apresentacao__links__navegacao
    width: 70%

@media (max-width: 768px)
  .apresentacao
    flex-direction: column
    align-items: center
    padding: 5% 5%

  .apresentacao__conteudo
    width: 100%

  .apresentacao__imagem
    width: 100%
    max-height: 400px
    order: 1 // Imagem antes dos links

  .apresentacao__links
    width: 80%
    order: 2 // Links depois da imagem

@media (max-width: 480px)
  .apresentacao__conteudo__titulo
    font-size: 1.75rem

  .apresentacao__conteudo__texto
    font-size: 1.2rem

  .apresentacao__links__subtitulo
    font-size: 1.2rem

  .apresentacao__links__navegacao
    font-size: 1.2rem
    width: 90%

  .apresentacao__imagem
    max-height: 300px
